<div class="card">
  <div *ngIf="ip; else elseBlock" class="card-body">
    <h5 class="card-title">IP: {{ip.address}}</h5>
    <hr />
    <div class="row">
      <div class="col-sm">
        <h4>Subnet: {{ip.subnet}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <h4>Address tag: {{ip.address_tag}}</h4>
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
    <div class="card-body">
      <h5 class="card-title">Please select an IP</h5>
    </div>
  </ng-template>
</div>
