<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <app-subnet-list (selectedIp)="updateSelected($event)"></app-subnet-list>
    </div>
    <div class="col-sm">
      <app-ip-display [ipId]="selectedIp"></app-ip-display>
    </div>
  </div>
</div>
