h5 {
  color: #303030;
}

ul {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}

li {
  margin: 5px 15px;
}

.spinner-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}