<div class="card">
  <div class="card-body">
    <h5 class="card-title">Subnets</h5>
    <hr />
    <div *ngIf="subnets; else elseBlock">
      <ul class="standard-ul-padding">

        <li *ngFor="let subnet of subnets">
          <mat-accordion>
            <app-subnet-display [subnetitem]="subnet" [globalSelected]="selected" (selectedSubnet)="updateSelected($event)"></app-subnet-display>
          </mat-accordion>
        </li>
      </ul>
    </div>
    <ng-template #elseBlock [ngStyle]="{'width': '100%'}">
      <div class="spinner-container">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </div>
</div>
