<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{subnet.address}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ul>
    <li *ngFor="let ip of subnetIps">
      <div (click)="selectIp(ip.id)" [ngClass]="getItemClass(ip.id)">
        - {{ip.address}}
      </div>
    </li>
  </ul>
</mat-expansion-panel>
